doctype html
html
    head
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body
        h1 #{title}
        
        form(action="/update-cobj" method="POST")
            label(for="name") Name:
            input(type="text" name="name" required)

            label(for="release") Release Date:
            input(type="text" name="release" required)

            label(for="players") Players to Date: 
            input(type="number" name="players" required)  

            button(type="submit") Submit
            
        a(href="/") Return to the Homepage